@font-face {
    font-family: 'Lora';
    src: url('./assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
    font-weight: variable;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src:url('./assets/fonts/Lora-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: variable;
    font-style: italic;
}



body {

  margin: 0;
	font-family: 'Lora', italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDF6EC;
}




